
/* ===========================================================================================================
                  
HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE

============================================================================================================= 
*/


.body{
    overflow-x: hidden;
    background-color: white;
}
input{
    text-align: center;
}
.titre{
    font-size: 36px;
    color: black;
    font-family:'ButlerRegular', sans-serif;
    font-weight: 500;
}
.titre::before{
    content: '';
    border-top: 3px solid #51a78f;
    display: block;
    width: 8em;
    margin-left: 1em;
    margin-bottom: 0.8em;
}
.discription{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 4em;
    margin-top: 2.7em;
    margin-bottom: 7.2em;
}
/* Nav BAR  */
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.navmenu{
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: 85px;
    z-index: 100000;
}
.navmenu .btn-menu {
    position: absolute;
    top: 2em;
    right: 1em;
    display: block;
    z-index: 9999999;
    cursor: pointer;
}
.navmenu.active .btn-exit {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 20;
    display: block;
    z-index: 9999999;
    cursor: pointer;
}
.navmenu.active .btn-menu {
    display: none;
}
.navmenu .btn-exit {
    display: none;
}
.navmenu .sidebar-header {
    padding: 20px;
}
.navmenu .sidebar-header svg{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 40px;
    height: 60px;
}
.navmenu .list-unstyled {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}
.navmenu .list-unstyled li{
    margin: 0;
}

.navmenu.active {
    min-height: 25em;
    max-height: 40em;
    background: #f1f1f1c7;
    color: #111;
    transition: all 0.3s;
}
.navmenu a[aria-expanded="false"]::before, .navmenu a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.navmenu ul li a {
    display: none;
}
.navmenu.active ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
/* sidebar */
.sidebar {
    min-width: 90px;
    max-width: 100px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.sidebar.active {
    min-width: 60em;
    max-width: 70em;
    background: #f1f1f1;
    color: #111;
    transition: all 0.3s;
}
.sidebar ul li a {
    display: none;
}
.sidebar a[aria-expanded="false"]::before, .sidebar a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.sidebar .sidebar-header {
    padding: 20px;
}
.sidebar.active ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
    cursor: pointer;
}
.sidebar.active ul li a:hover {
    color: #111;
    background: #f1f1f1;
    cursor: pointer;
}
.sidebar ul li.active > a{
    color: #111;
    background: #f1f1f1;
}

.sidebar .btn-menu {
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 9999999;
    cursor: pointer;
}
.sidebar.active .btn-menu {
    display: none;
}
.sidebar.active .btn-exit {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 20;
    display: block;
    z-index: 9999999;
    cursor: pointer;
}
.sidebar .btn-exit {
    display: none;
}
.sidebar .list-unstyled {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 100000;
}
/* SLIDER */
.slider{ height: 50vh; position: relative; }
.center{
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 7em;
}
/**
       SIDE Menu
    */
    .side-menu{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 120px;
        background-color: transparent;
        z-index: 9999;
    }
    .scrol{position: relative; z-index: 9999;}
    .ciseau{
        position: absolute;
        z-index:10000; 
        top:7em;
    }
    .line{
        position: absolute;
        z-index:9999; 
        top:9em;
    }
    .x-1{
        position: absolute;
        top: 20em;
        right: 100px;
        z-index: 10000;
    }
    .x-2{
        position: absolute;
        top: 33em;
        right: 75px;
        z-index: 10000;
    }
    .x-3{
        position: absolute;
        top: 46em;
        right: 95px;
        z-index: 10000;
    }
/* FOOTER */
.footer{background-color: #f7f7f7;}
.footer a{ color: #616161; }
.icons i{ padding: 1em; font-size: 1.2em; }
li {
    display: inline;
	list-style: none;
	margin: 10px;
}
li a {
    display: inline-block;
	width: 100px;
	padding: 5px 10px;
	text-decoration: none;
	color: #111;
	font-weight: bold;	
}
li a:hover{ text-decoration: none; color:#111;}
.lien{margin-top: 3em; margin-bottom: 3em;}
.contact form{ padding-top: 3em; padding-bottom: 3em;}
.footer-title{
    text-transform: uppercase;
    padding-bottom: .7em;
    font-family: 'Montserrat', sans-serif;
}
.email{
    border: none;
    height: 3em;
    width: 18em;
    margin: 0 2em 0 0
}
.email:active, .email:focus{border: none;}
.button{
    width: 18em;
    height: 3em;
    background-color: #40bf9c;
    text-transform: uppercase;
    border-radius: 0px !important;
    color: white;
}
.footer-bar{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    background-color: #222222;
    z-index: 1000;
    color: white;
    padding: 1.5em 0;
}
.navbar{visibility: hidden}
.discription{ margin-bottom: 6em;}
.section_two .header{ width: 48%}
.section_one .img-01{position: relative; z-index: 2}
.section_one .img-02{position: relative; top: 5em; z-index: 2}
.section_one .img-03{position: relative;top:3em;left:18em; z-index: 2}
.section_one .img-deco{position: relative; top:-2em}
.section_two .img-01{position: relative; z-index:2}
.section_two .img-02{position: relative;z-index:2; top:-14em}
.section_two .img-03{position: relative;z-index:2; top: -9em}
.section_two .img-04{  margin-top: -18em; margin-left:8em; }
.section_two .img-deco{ position:relative; top:-6em; left: 16em; }
.section_three{ margin-top: -8em; position: relative; clear: both}
.section_three .img-01{position: relative; z-index: 2}
.section_three .img-02{position: relative; top: 5em; z-index: 2}
.section_three .img-03{position: relative; top: -22em;  z-index: 2}
.section_three .img-deco{position: relative; top: 11em; }

/* ===============================================================================================================

    PRODUCT PAGE PRODUCT PAGE PRODUCT PAGE PRODUCT PAGE PRODUCT PAGE PRODUCT PAGE PRODUCT PAGE PRODUCT PAGE 

=============================================================================================================== */
.prod-head{ margin-top: 5em; position: relative; z-index: 1}
.prod-head .title {text-indent:1em; position: absolute; z-index: 2; top: 1.2em; left: 14em;font-family:'ButlerRegular', sans-serif; font-size: 3em; color: #111}
.para{font-family:'ButlerRegular', serif; margin-left: 4em; margin-top: 3em; margin-right: 5em; font-size: 1.5em }
.baground{ position: absolute; top: 17em; right: -20em; z-index: -1; }
.collection{ margin-top: 7em; margin-bottom: 5em;}
.collection .one { margin-top: 2.5em}
.collection .two { margin-top: 5em}
.collection .items h2{ padding-left: .5em; font-family:'ButlerRegular', serif; color: #111 }
.collection .items p{ line-height: 2em; padding: 1em 2em; font-family: 'Montserrat', serif}

/* ===============================================================================================================

    SINGLE PAGE SINGLE PAGE SINGLE PAGE SINGLE PAGE SINGLE PAGE SINGLE PAGE SINGLE PAGE SINGLE PAGE SINGLE PAGE  

=============================================================================================================== */








/* MEDIA QUERY */
@media (min-width:1200px) and (max-width:1444px){
    .side-menu{top: 0;right: 0;width: 120px;}
    .ciseau{top:7em; right: 2.5em}
    .line{top:9em; right: 3em;}
    .x-1{top: 20em;right: 4.5em;}
    .x-2{top: 33em;right: 2.6em;}
    .x-3{ top: 46em;right: 4em;}
    .navbar{visibility: hidden}
    .discription{ margin-bottom: 6em;}
    .section_two .header{ width: 48%}
    .section_one .img-01{position: relative; z-index: 2}
    .section_one .img-02{position: relative; top: 5em; z-index: 2}
    .section_one .img-03{position: relative;top:3em;left:18em; z-index: 2}
    .section_one .img-deco{position: relative; top:-2em}
    .section_two .img-01{position: relative; z-index:2}
    .section_two .img-02{position: relative;z-index:2; top:-14em}
    .section_two .img-03{position: relative;z-index:2; top: -9em}
    .section_two .img-04{  margin-top: -17em; margin-left:8em; }
    .section_two .img-deco{ position:relative; top:-6em; left: 16em; }
    .section_three{ margin-top: -8em; position: relative; clear: both}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 5em; z-index: 2}
    .section_three .img-03{position: relative; top: -22em;  z-index: 2}
    .section_three .img-deco{position: relative; top: 11em; }
}
@media (min-width:1024px) and (max-width:1200px){
    .side-menu{top: 0;right: 0;width: 120px;}
    .ciseau{top:7em; right: 2.5em}
    .line{top:9em; right: 3em;}
    .x-1{top: 20em;right: 4.5em;}
    .x-2{top: 33em;right: 2.6em;}
    .x-3{ top: 46em;right: 4em;}
    .discription{ margin-bottom: 6em;}
    .section_two .header{ width: 48%}
    .section_one .img-01{position: relative; z-index: 2}
    .section_one .img-02{position: relative; top: 5em; z-index: 2}
    .section_one .img-03{position: relative;top:3em;left:18em; z-index: 2}
    .section_one .img-deco{position: relative; top:-2em}
    .section_two .img-01{position: relative; z-index:2}
    .section_two .img-02{position: relative;z-index:2; top:-14em}
    .section_two .img-03{position: relative;z-index:2; top: -9em}
    .section_two .img-04{  margin-top: -17em; margin-left:8em; }
    .section_two .img-deco{ position:relative; top:-6em; left: 16em; }
    .section_three{ margin-top: -8em; position: relative; clear: both}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 5em; z-index: 2}
    .section_three .img-deco{position: relative; top: 11em; }
    .section_three .img-03{position: relative; top: -18em;  z-index: 2}  
    .navbar{visibility: hidden} 
}
@media (min-width:992px) and (max-width:1024px){
    .side-menu{top: 0;right: 0;width: 120px;}
    .ciseau{top:7em; right: 2.5em}
    .line{top:9em; right: 3em;}
    .x-1{top: 20em;right: 4.5em;}
    .x-2{top: 33em;right: 2.6em;}
    .x-3{ top: 46em;right: 4em;}
    .navbar{visibility: hidden}
    .discription{ margin-bottom: 6em;}
    .section_two .header{ width: 48%}
    .section_one .img-01{position: relative; z-index: 2}
    .section_one .img-02{position: relative; top: 5em; z-index: 2}
    .section_one .img-03{position: relative;top:3em;left:16em; z-index: 2}
    .section_one .img-deco{position: relative; top:-2em}
    .section_two .img-01{position: relative; z-index:2}
    .section_two .img-02{position: relative;z-index:2; top:-14em}
    .section_two .img-03{position: relative;z-index:2; top: -9em}
    .section_two .img-04{  margin-top: -17em; margin-left:5em; }
    .section_two .img-deco{ position:relative; top:-6em; left: 16em; }
    .section_three{ margin-top: -8em; position: relative; clear: both}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 5em; z-index: 2}
    .section_three .img-03{position: relative; top: -17em;  z-index: 2}
    .section_three .img-deco{position: relative; top: 11em; }
}
@media (min-width:768px) and (max-width:991px){
    .side-menu{top: 0;right: 0;width: 120px;}
    .ciseau{top:7em; right: 2.5em}
    .line{top:9em; right: 3em;}
    .x-1{top: 20em;right: 4.5em;}
    .x-2{top: 33em;right: 2.6em;}
    .x-3{ top: 46em;right: 4em;}
    .navbar{visibility: hidden}
    .section_one .img-02{position: relative; top: 0em;}
    .section_one .img-03{position: relative;top:0em;left:0em;}
    .section_two .img-01{position: relative;z-index:2}
    .section_two .img-02{position: relative;top:0em}
    .section_two .img-03{position: relative;z-index:2; top: 0}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 0em; left: 0em; z-index: 2}
    .section_three .img-03{position: relative; top: 0em; left: 0; z-index: 2}
    .section_three{ margin-top: 0em; position: relative; clear: both}
    .section_one .img-deco{display:none;} 
    .section_two .img-deco{display:none;}
    .section_two .img-04{display:none;}
    .section_three .img-deco{display:none;} 
    .item{margin-bottom: 3em;} 
    .section_two .header {width: 100% !important;}
}
@media (min-width:425px) and (max-width:767px){
    .side-menu{ display: none;}
    .navbar{visibility: visible}
    .section_one .img-02{position: relative; top: 0em;}
    .section_one .img-03{position: relative;top:0em;left:0em;}
    .section_two .img-01{position: relative;z-index:2}
    .section_two .img-02{position: relative;top:0em}
    .section_two .img-03{position: relative;z-index:2; top: 0}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 0em; left: 0em; z-index: 2}
    .section_three .img-03{position: relative; top: 0em; left: 0; z-index: 2}
    .section_three{ margin-top: 0em; position: relative; clear: both}
    .section_one .img-deco{display:none;} 
    .section_two .img-deco{display:none;}
    .section_two .img-04{display:none;}
    .section_three .img-deco{display:none;} 
    .item{margin-bottom: 2em;} 
    .section_two .header {width: 100% !important;}
}
@media (min-width:375px) and (max-width:425px){
    .side-menu{ display: none;}
    .section_one .img-02{position: relative; top: 0em;}
    .section_one .img-03{position: relative;top:0em;left:0em;}
    .section_two .img-01{position: relative;z-index:2}
    .section_two .img-02{position: relative;top:0em}
    .section_two .img-03{position: relative;z-index:2; top: 0}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 0em; left: 0em; z-index: 2}
    .section_three .img-03{position: relative; top: 0em; left: 0; z-index: 2}
    .section_three{ margin-top: 0em; position: relative; clear: both}
    body{font-size: 0.8em}
    .titre{font-size: 23px;}
    .discription{ margin-bottom: 4.7em;}
    .section_one .img-deco{display:none;} 
    .section_two .img-deco{display:none;}
    .section_two .img-04{display:none;}
    .section_three .img-deco{display:none;} 
    .item{margin-bottom: 1.2em;} 
    .lien{padding: 0;}
    .footer-title{font-size: 3em}
    .button{width: 11em}
    .section_two .header {width: 100% !important;}
}
@media (min-width:320px) and (max-width:375px){
    .side-menu{ display: none;}
    .section_one .img-02{position: relative; top: 0em;}
    .section_one .img-03{position: relative;top:0em;left:0em;}
    .section_two .img-01{position: relative;z-index:2}
    .section_two .img-02{position: relative;top:0em}
    .section_two .img-03{position: relative;z-index:2; top: 0}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 0em; left: 0em; z-index: 2}
    .section_three .img-03{position: relative; top: 0em; left: 0; z-index: 2}
    .section_three{ margin-top: 0em; position: relative; clear: both}
    body{font-size: 0.7em}
    .titre{font-size: 22px;}
    .discription{ margin-bottom: 4.5em;}
    .section_one .img-deco{display:none;} 
    .section_two .img-deco{display:none;}
    .section_two .img-04{display:none;}
    .section_three .img-deco{display:none;} 
    .item{margin-bottom: 1em;} 
    .lien{padding: 0;}
    .footer-title{font-size: 3em}
    .button{width: 11em}
    .section_two .header {width: 100% !important;}
}
@media (min-width:0px) and (max-width:320px){
    .slider{ display: none;}
    .section_one { margin-top: 9em}
    .side-menu{ display: none;}
    .section_one .img-02{position: relative; top: 0em;}
    .section_one .img-03{position: relative;top:0em;left:0em;}
    .section_two .img-01{position: relative;z-index:2}
    .section_two .img-02{position: relative;top:0em}
    .section_two .img-03{position: relative;z-index:2; top: 0}
    .section_three .img-01{position: relative; z-index: 2}
    .section_three .img-02{position: relative; top: 0em; left: 0em; z-index: 2}
    .section_three .img-03{position: relative; top: 0em; left: 0; z-index: 2}
    .section_three{ margin-top: 0em; position: relative; clear: both}
     body{font-size: 0.5em}
    .titre{font-size: 20px;}
    .item{margin-bottom: 1em;}
    .lien{padding: 0;}
    .discription{ margin-bottom: 4em;}
    .foot-desc{ font-size: 1.2em}
    .footer-title{font-size: 3.2em}
    .section_one .img-deco{display:none;} 
    .section_two .img-deco{display:none;}
    .section_two .img-04{display:none;}
    .section_three .img-deco{display:none;}
    .section_two .header {width: 100% !important;}   
}